@use "output";
@use "colors";

* {
    margin: 0;
    padding: 0;
}

body {
    background: colors.$background url(./../images/background.jpg) center top;
    background-image: cover;
}

div.imgCover {
    background: colors.$background;
    color: colors.$white;
    height: 100vh;
}

main {margin-top: 12vw;}

.text-5xl {
    @media screen and (max-width: 800px) {
        font-size: 2.2rem;
        max-width: 90vw;
        text-align: center;
    }
    @media screen and (min-width: 801px) {
        font-size: calc(0.2rem + 4vw);
    }
}
.text-2xl {
    @media screen and (max-width: 800px) {
        font-size: 1.1rem;
        max-width: 90vw;
        text-align: center;
    }
    @media screen and (min-width: 801px) {
        font-size: calc(0.1rem + 2vw);
    }
}

img[src="./images/netflixLogo.png"] {height: 40px;}

img, button, input[type="submit"] {
    transition: 0.5s;

    &:hover {filter: brightness(1.25);}
    &.border-white:hover {background: rgba(0, 0, 0, 0.5);}
}

form {
    $buttonWidth: 150px;

    input:first-child {
        width: calc(150px + $buttonWidth + 10vw);
        color: colors.$black;
        border: colors.$white;
    }
    input:last-child {
        width: $buttonWidth;
        margin-left: calc(-1 * $buttonWidth);
    }
}